@import "tailwindcss";

:root {
  --background: #ffff;
  --foreground: #171717;
  --font-quicksand: var(--font-quicksand);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-quicksand: var(--font-quicksand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand), Arial, Helvetica, sans-serif;
}

.font-sans {
  font-family: var(--font-geist-sans);
}

.font-text {
  font-family: var(--font-quicksand);
}

